.details-container {
  padding: 60px;
  width: 75%;

  .details-button {
    border: none;
    background-color: transparent;
    width: 152px;
    height: 30px;

    .link {
      display: flex;
      gap: 12px;
      text-decoration: none;
      color: #545f7d;

      p {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 18.77px;
        text-align: left;
        text-decoration-skip-ink: none;
      }
    }
  }

  .details-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 44px;

    .left {
      width: 143px;
      height: 28px;
      p {
        position: relative;
        font-family: "Work Sans";
        color: #213f7d;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.15px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    .right {
      display: flex;
      gap: 20px;

      button {
        width: 170px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;

        &.blacklist {
          border: 1px solid #e4033b;
          color: #e4033b;
        }

        &.activate {
          border: 1px solid #39cdcc;
          color: #39cdcc;
        }
      }
    }
  }

  .details-body {
    width: 100%;
    height: 210px;
    position: relative;
    top: 90px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 20px 0px;

    .details-info {
      display: flex;
      width: 700px;
      height: 100px;
      gap: 20px;

      .head-info-left {
        display: flex;
        justify-content: center;
        border-right: 1px solid #d2d3d5;
        width: 350px;
        padding-right: 20px;
        align-items: center;
        gap: 20px;

        img {
          width: auto;
          height: auto;
          //   border: 1px solid black;
          //   border-radius: 100%;
        }

        .info-left {
          h2 {
            font-family: "Work Sans";
            font-size: 22px;
            font-weight: 500;
            line-height: 25.81px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #213f7d;
          }
          p {
            position: relative;
            top: 10px;
            font-family: "Work Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 16.42px;
            color: #545f7d;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }
      }

      .head-info-middle {
        display: flex;
        justify-content: center;
        border-right: 1px solid #d2d3d5;
        width: 150px;
        padding-right: 20px;
        align-items: center;
        gap: 20px;

        p {
          font-family: "Work Sans";
          font-size: 14px;
          font-weight: 500;
          line-height: 16.42px;
          text-align: left;
          color: #545f7d;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        img {
          width: 20px;
          height: 20px;
          position: relative;
          top: 10px;
        }
      }

      .head-info-right {
        display: flex;
        justify-content: center;
        width: 250px;
        align-items: center;
        gap: 20px;

        h2 {
          font-family: "Work Sans";
          font-size: 22px;
          font-weight: 500;
          line-height: 25.81px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #213f7d;
        }

        p {
          position: relative;
          top: 8px;
          font-family: "Work Sans";
          font-size: 12px;
          font-weight: 400;
          line-height: 14.08px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #213f7d;
        }
      }
    }
  }

  .details-link {
    display: flex;
    gap: 40px;
    padding: 60px 20px 20px 20px;

    .detail-header {
      display: flex;
      //   gap: 10px;
      font-family: "SF Compact Text";
      font-size: 16px;
      font-weight: 400;
      line-height: 19.09px;
      text-align: center;
      text-decoration-skip-ink: none;
      color: #000;
    }

    .table-header {
      //   border-bottom: 2px solid #39cdcc;
      display: flex;
      padding-bottom: 30px;
      justify-content: center;
      width: 130px;
      height: 0px;
      list-style: none;
    }

    .active {
      border-bottom: 2px solid #39cdcc;
      color: #39cdcc;
    }
  }
}

.info-container {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-top: 20px;

  .info-header {
    padding: 20px 50px;

    h2 {
      font-family: "Work Sans";
      font-size: 16px;
      font-weight: 500;
      color: #213f7d;
    }
  }

  .personal-info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    column-gap: 75px;
    row-gap: 40px;
    padding: 10px 25px 50px;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #c5cddf;

    .info-item {
      display: flex;
      flex-direction: column;
      column-gap: 50px;
      row-gap: 30px;
      border-radius: 8px;
      font-family: Work Sans;

      .info-title {
        font-family: "Work Sans";
        color: #545f7d;
        text-transform: uppercase;
        font-size: 13.5px;
        font-weight: 400;
        line-height: 14.08px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .info-value {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 400;
        color: #213f7d;
        line-height: 18.77px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }

  /* Make responsive */
  @media (max-width: 768px) {
    .personal-info-content {
      flex-direction: column;
      gap: 20px;

      .info-item {
        width: 100%;
      }
    }
  }

  @media (max-width: 480px) {
    .details-container {
      padding: 20px;
      width: 100%;
    }

    .details-body {
      padding: 10px;
    }

    .personal-info-content {
      padding: 10px;
    }

    .info-item {
      gap: 5px;
      .info-title {
        font-size: 12px;
      }
      .info-value {
        font-size: 14px;
      }
    }
  }
}
